extends ../templates/basic.jade

block body
  h1 Super Weight Tracker!

  .input-form
    h2 Login Here
    form(method='POST')
      .form-group
        label Username
        input(type='text', name='user', placeholder='Type Username Here' required)
      .form-group
        label Password
        input(type='password', name='pass' required)
      .form-group
        input(type='submit', value='Click here to log in or Sign up!')
